<!-- Form -->
<section id="contact" class="wrapper divided {{ .style }}">
  <div class="inner">
    <section>
      <header>
        <h3>{{ .title }}</h3>
      </header>
      <div class="content">
        <form method="post" action="#" id="contact-form">
          <div class="fields">
            <div class="field half">
              <label for="name">Nome Completo</label>
              <input type="text" name="name" id="name" value="" required />
            </div>
            <div class="field half">
              <label for="email">E-mail</label>
              <input type="email" name="email" id="email" value="" required />
            </div>
            <div class="field half">
              <label for="telephone">Telefone (Whatsapp)</label>
              <input type="tel" name="phone" id="telephone" />
              <small class="field-error" id="telephone-error"
                style="display: none; color: #e74c3c; font-size: 0.8rem; margin-top: 0.25rem;">Por favor, insira um
                telefone válido</small>
            </div>
            <div class="field">
              <label for="message">Mensagem</label>
              <textarea name="message" id="message" rows="6"></textarea>
            </div>
            <div class="field">
              <label for="contact-preferences">Como você prefere que eu entre em contato?</label>
            </div>
            <div class="field small-padding">
              <input type="checkbox" id="email-checkbox" name="contact_email" class="small" />
              <label for="email-checkbox">E-mail</label>
            </div>
            <div class="field small-padding">
              <input type="checkbox" id="phone" name="contact_phone" class="small" />
              <label for="phone">Telefone</label>
              <small class="field-error" id="phone-checkbox-error"
                style="display: none; color: #e74c3c; font-size: 0.8rem; margin-top: 0.25rem;">Selecione telefone como
                opção de contato, você deve preencher o campo de telefone</small>
            </div>
            <div class="field small-padding">
              <input type="checkbox" id="whatsapp" name="contact_whatsapp" class="small" />
              <label for="whatsapp">Whatsapp</label>
            </div>
            <!-- <div class="field half">
              <input type="checkbox" id="copy" name="copy" />
              <label for="copy">Email me a copy of this message</label>
            </div> -->
          </div>
          <ul class="actions">
            <li>
              <button type="submit" name="submit" id="submit">
                <span>Enviar</span>
              </button>
            </li>
          </ul>
        </form>

      </div>
    </section>
  </div>
</section>